{{ define "layout" }}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ if and .Domain .GitURL .RepoName }}
    <meta name="go-import" content="{{ .Domain }}/{{ .RepoName }} git {{ .GitURL }}/{{ .RepoName }}">
  {{ end }}

  <title>Fudge</title>

  <link rel="stylesheet" type="text/css" href="/static/css/fudge.css">
  <link rel="stylesheet" type="text/css" href="/static/css/syntax.css">
</head>
<body>
  <header>
    <h1><a href="/">Fudge</a></h1>
  </header>

  <main>
    {{ template "content" . }}
  </main>
</body>
</html>
{{ end }}
