{{ define "content" }}
  <h2>{{ template "breadcrumbs" . }}</h2>

  <p><a href="/{{ .Name }}/commits">Commits</a></p>

  <ul id="tree">
    {{ range .Objects }}
      {{ if .IsFile }}
        <li>
          <img alt="Blob" src="/static/img/blob.svg">
          <a href="/{{ $.Name }}/blob/{{ $.Path }}/{{ .Name }}">{{ .Name }}</a>
          <span>{{ .Size }}</span>
        </li>
      {{ else }}
        <li>
          <img alt="Tree" src="/static/img/tree.svg">
          <a href="/{{ $.Name }}/tree/{{ $.Path }}/{{ .Name }}" class="tree">{{ .Name }}</a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
{{ end }}
