{{ define "content" }}
  <h2>{{ template "breadcrumbs" . }}</h2>

  {{ template "last_commit" . }}

  <ul class="list">
    {{ range .Objects }}
      {{ if .IsFile }}
        <li>
          <img alt="Blob" src="/static/img/blob.svg">
          <a href="/{{ $.RepoName }}/blob/{{ $.Path }}/{{ .Name }}">{{ .Name }}</a>
          <span>{{ .Size }}</span>
        </li>
      {{ else }}
        <li>
          <img alt="Tree" src="/static/img/tree.svg">
          <a href="/{{ $.RepoName }}/tree/{{ $.Path }}/{{ .Name }}" class="tree">{{ .Name }}</a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
{{ end }}
