html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  padding: 0 2em;
  background-color: #8d5272;
  color: #fff;
}

header h1 {
  display: inline-block;
}

header a, header a:visited {
  color: inherit;
}

header a:hover {
  text-decoration: none;
}

main {
  max-width: 64em;
  margin: auto;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: #733a59;
}

a:hover {
  text-decoration: underline;
}

div.chroma {
  padding: 1em;
}

.details {
  margin-left: 0.5em;
}

.list {
  padding-left: 0;
}

.list li {
  margin-top: 0.5em;
  border-bottom: 1px #ccc solid;
  padding: 0 0.25em;
  padding-bottom: 0.5em;
  list-style: none;
}

.list li span {
  float: right;
}

.list li img {
  width: 16px;
  height: 16px;
}

.list-spaced {
  padding-left: 0;
}

.list-spaced li {
  margin-top: 1em;
  border-bottom: 1px #ccc solid;
  padding: 0 0.5em;
  padding-bottom: 1em;
  list-style: none;
}

.list-spaced li p {
  margin: 0;
}

.list-spaced li p:first-child {
  margin-bottom: 1em;
}
